@font-face {
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zen+Kaku+Gothic+Antique&display=swap")
    format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", "Open Sans", "Arial" "sans-serif";
}

/*HEADER*/
.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 230px;
  max-height: 80px;
  margin: 20px;
}

header {
  position: fixed;
  width: 100%;
  min-height: 147px;
  z-index: 100;
  font-family: "Zen Kaku Gothic Antique";
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 4px black;
  top: 0;
  margin: 0;
}

.item {
  display: inline-block;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  font-weight: 900;
}

.item_logo {
  display: inline;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  position: relative;
}
nav li {
  display: inline;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding-left: 20px;
  color: #0a3641;
}

nav a:hover {
  text-decoration: underline;
}

.icons {
  display: inline;
  align-items: center;
  margin: 10px 10px 0px 10px;
  position: absolute;
  left: 85%;
  color: #0a3641;
}

.fa-search {
  margin: 10px 10px 0;
}

.fa-user-circle {
  margin: 10px 10px 0;
}

.fa-shopping-basket {
  margin-left: 10px;
}

.spacer {
  height: 150px;
  width: 100%;
}

/*MAIN HOMEPAGE*/

.section-one {
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item1,
.item2,
.item3 {
  font-family: "Zen Kaku Gothic Antique";
  font-size: 1, 5em;
  font-weight: 900;
  text-transform: uppercase;
  color: #0a3641;
}

.fa-truck,
.fa-cube,
.fa-undo {
  margin-left: 20px;
}

.waterfall-image {
  background-image: url(../images/Couple.by.waterfall.png);
  background-repeat: no-repeat;
  min-height: 70vh;
  background-position: bottom;
}

.button-position-sale a {
  display: inline-block;
  top: 140px;
  position: relative;
  bottom: 200px;
  left: 45%;
  max-width: 120px;
}

.button-position-sale a:hover {
  background-color: #c06a37;
  color: white;
}

.sale h1 {
  position: relative;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-flex;
  left: 1000px;
  top: 30px;
}

.sale p {
  display: inline-flex;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 2em;
  color: white;
  position: relative;
  top: 80px;
  left: 250px;
}

.section-two {
  display: flex;
  flex-direction: row;
  height: 700px;
  margin: 50px 150px;
  gap: 75px;
  background-image: cover;
}

.section-two a {
  display: inline-block;
  width: 120px;
  position: relative;
  bottom: 100px;
  left: 230px;
}

.section-two a:hover {
  background-color: #c06a37;
  color: white;
}

.section-two img {
  width: 600px;
  height: 700px;
}


.cta-button {
  background-color: white;
  color: #0a3641;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.section-three {
  max-width: 1200px;
  margin: 50px 150px;
  display: flex;
  min-height: 70vh;
}

.section-three > * {
  flex: 1;
}

.text-box {
  margin: 100px;
  margin: 100px;
  display: flex;
  display: block;
  max-width: 300px;
  text-align: center;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 1em;
}

.text-box h2 {
  margin-top: 10px;
  font-weight: bolder;
}

.image-box {

  position: relative;
  text-align: center;
}

.about-image {
  display: flex;
  position: absolute;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1em;
  width: 100%;
}

.one-about {
  top: 100px;
  height: 200px;
}

.two-about {
  width: 300px;
  height: 200px;
  bottom: 0px;
  right: 0px;
}

.three-about {
  top: 0px;
  right: 0px;
  width: 300px;
  height: 200px;
}

.image-title-one {
  position: absolute;
  top: 0px;
  padding: 0 5;
  width: 300px;
}

.image-title-one p {
  background-color: white;
  padding: 10px;
  box-shadow: 2px black;
  box-shadow: 0 0 1px black;
}

.image-title-two {
  position: absolute;
  height: 200px;
  bottom: 0px;
  right: 0px;
  padding: 0 5;
  width: 300px;
}

.image-title-two p {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px black;
}

.image-title-three {
  position: absolute;
  height: 200px;
  bottom: 0px;
  right: 0px;
  padding: 0 5;
  width: 300px;
  display: inline;
}

.image-title-three p {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px black;
}

/*FOOTER*/
footer {
  background-color: #0a3641;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  height: 200px;
  width: 100%;
}

.flex-container-footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.address {
  margin: 0px;
  display: flex;
  flex: 30%;
  max-width: 500px;
  text-align: left;
  padding-left: 50px;
}

.address h2 {
  margin-left: 60px;
}

ul li {
  display: block;
  text-align: left;
  list-style-type: none;
  line-height: normal;
  font-size: 0, 5rem;
}

.address > * {
  flex: 1;
}

.fa-envelope {
  margin-right: 10px;
}

.fa-home {
  margin-right: 10px;
}

.address_list {
  margin-left: 30px;
}

.footer-nav {
  display: flex;
  flex: 30%;
  max-width: 500px;
  margin: 0px;
  text-align: left;
  padding-left: 0;
}

.footer-nav > * {
  flex: 1;
}

.footer-nav-two {
  flex: 30%;
  margin: 0px;
  display: flex;
  max-width: 500px;
  text-align: left;
  padding-left: 0;
  padding-right: 50px;
}

.footer-nav-two > * {
  flex: 1;
}

.footer-nav-items {
  display: block;
  margin-top: 70px;
  text-align: left;
  list-style-type: none;
  line-height: normal;
  font-size: 0, 5rem;
  text-decoration: underline;
}
