html {
  box-sizing: border-box;
}
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif, "Open Sans", sans-serif,
    Verdana, Tahoma, sans-serif;
}

main {
  margin: 0 100px;
}

.current {
  text-decoration: underline;
}

.cta-button {
  background-color: white;
  color: #0a3641;
  text-decoration: none;
  display: inline;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
  box-shadow: 0 0 4px black;
}

h2, h3 {
  font-weight: bolder;
}

.cta-button:hover {
  background-color: #c06a37;
  color: white;
}

.small-button {
  font-size: 10px;
  font-weight: bolder;
}

.price {
  font-size: 2em;
  padding: 0;
  margin-top: 0;
}


/*--------------------HOMEPAGE------------------------*/

/*HEADER*/

header {
  position: fixed;
  width: 100%;
  max-height: 100px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 4px black;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  flex: 1;
  justify-content: left;
}

.nav-section {
  display: inline-block;
  padding: 10px;
  font-weight: 900;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 200px;
  max-height: 60px;
  margin: 20px;
}

.item_logo {
  display: inline;
  padding: 5px;
  position: relative;
}

nav li {
  align-items: left;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: #0a3641;
}

nav a:hover {
  text-decoration: underline;
}

.icons {
  display: inline-block;
  color: #0a3641;
  margin-right: 20px;
  flex: flex-end;
}

.fa-search {
  margin: 10px 10px 0;
}

.fa-user-circle {
  margin: 10px 10px 0;
}

.fa-shopping-basket {
  margin-left: 10px;
}

.spacer {
  min-height: 100px;
  width: 100%;
}

/*MAIN HOMEPAGE*/

.section-one {
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.point {
  font-size: 1, 5em;
  font-weight: 900;
  text-transform: uppercase;
  color: #0a3641;
}

.fa-truck,
.fa-cube,
.fa-undo {
  margin-left: 20px;
}

.sale-section {
  margin: 0;
  min-height: 70vh;
  width: 100%;
  background-image: url(../images/Couple.by.waterfall.png);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.sale-section a {
  position: absolute;
  display: inline-block;
  bottom: 200px;
  left: 45%;
}


.sale-text {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-align: end;
  margin-right: 30px;
  position: absolute;
  right: 0;
}

.section-two {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 3%;
}

.col-men, .col-women {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.col-men {
  background-image: url(../images/men.homepage.jpg);
}

.col-women {
  background-image: url(../images/women.homepage.jpg);
}

.col-men a, .col-women a  {
  position: absolute;
  bottom: 20%;
  left: 35%;
}

.section-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  gap: 5%;
  min-height: 70vh;
  margin: 5% 0;
}

.text-box {
  margin: 0px;
  display: block;
  text-align: left;
  font-size: 1em;
}

.text-box h2 {
  text-align: center;
}

.image-box-one {
  background-image: url(../images/fabric.jpg);
  background-repeat: no-repeat;
  margin: 0;
  background-size: cover;
  min-height: 200px;
  width: 100%;
  align-self: center;
}

.image-box-two {
  display: row;
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  margin: 0px;
  padding-bottom: 2%;
}

.industry-img {
  background-image: url(../images/fashion.industry.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.design-img {
  background-image: url(../images/clothing_design.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  min-height: 200px;
  width: 100%;
  margin-top: 50px;
}

.image-box-one p, .industry-img p, .design-img p {
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 1px black;
  padding: 2%;
  text-align: center;
}



/*FOOTER*/
footer {
  background-color: #0a3641;
  font-family: "Open Sans", sans-serif;
  color: white;
  max-height: 300px;
  width: 100%;
}

.flex-container-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.address {
  margin-left: 30px;
}

.address h2 {
  margin-left: 30px;
  padding-bottom: 5px;
}

.address_list {
  margin-left: 30px;
}

.address p {
  line-height: 10px;
}

.fa-envelope, .fa-home  {
  margin-right: 10px;
}

.footer-nav-one {
  margin: 0px;
  text-align: left;
  padding-left: 0;
  line-height: normal;
}

.footer-nav-two {
  margin: 0px;
  max-width: 300px;
  padding-left: 0;
}

.footer-nav-items {
  display: block;
  margin-top: 70px;
  text-align: left;
  list-style-type: none;
  font-size: 0, 5rem;
  text-decoration: underline;
}

.social-media {
 margin: 30px 30px 0 0;
 text-align: left;
}

.fa-facebook, .fa-instagram {
  padding: 0 10px;
  font-size: 30px;
}


/*--------------------SIGN INN PAGE------------------------*/
.signin-background {
  background-image: url(../images/signin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  width: 100%;
  position: relative;
  margin: 0;
}

.sign-title {
color: #fff;
font-size: 3em;
font-weight: bolder;
position: absolute;
top: 10%;
left: 45%;
}

.signin-form {
  font-family: "Zen Kaku Gothic Antique", sans-serif, "Open Sans", sans-serif,
  Verdana, Tahoma, sans-serif;
}

.signin-form {
  width: 600px;
}

.form-wrapper {
  color: #fff;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 30%;
  left: 40%;
}

.form-wrapper > * {
  padding: 10px;
  border-radius: 5%;
  width: 250px;
}

.signin-button, .signin-button-two {
  margin-top: 20px 0 10px 0;
  text-align: center;
}

.signin-button-two  {
  min-width: 250px;
}

.signin-form p {
  font-size: 1em;
  text-align: center;
  margin: 10px;
}

.signin-button-two a:hover {
  background-color: #c06a37;
  color: white;
}



/*--------------------ABOUT PAGE------------------------*/
.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.text-box-about {
  flex-basis: auto;
  margin-top: 50px;
  padding: 0 20px;
}

.text-box-about h2 {
  text-align: center;
}

.image-box-one {
  background-position: 0vw;
  margin-top: 30px;
}

.industry-img {
  margin-bottom: 0px;
}

.design-img {
  background-position: center;
}

.design-img2 {
  margin: 0px 0px 30px 0px;
}

.design-img p {
  margin-top: 0px;
}


/*--------------------WOMEN AND MEN SECTION------------------------*/
.jackets {
  margin: 0 auto;
  max-width: 1000px;
}

.all-jackets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
}

.jackets h1 {
  display: inline-block;
  margin-left: 35%;
}

.fa-arrow-left {
  left: 0;
  display: inline-block;
  font-size: 30px;
}

.product {
  line-height: 15px;
  background-color: #F0F0F0;
}

.product img {
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: cover;
}

.product:hover{
  background: #8f8f8f4d;
}

.product p {
  margin: 5px 0px;
}

.colors {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
}

.colors i {
  font-size: 16px;
  padding: 5px;
  margin-right: 5px;
}

.yellow {
  color: #E3B929;
}

.red {
  color: #DD0A16;
}

.navy {
  color: #0A3641;
}

.light-blue {
  color: #759EBD;
}

.dark-green {
  color: #55735D;
}

.orange {
  color:#C06A37;
}

.light-brown {
  color: #BB7A38;
}

.blue {
  color:#405B98;
}

.green {
  color: #36A55C;
}

.olive {
  color: #70642A;
}

.light-grey {
  color: #C4C4C4;
}

.pink {
  color: #C77EA7;
}

.ocean-blue {
color: #1277D2;
}

.beige {
  color: #D8BCA9;
}

/*--------------------WOMEN AND MEN PRODUCT DETAILS------------------------*/
.product-wrapper {
  display: flex;
  max-width: 1000px;
  margin: 50px 0px;
}

.product_images {
  flex: 1;
  margin-right: 50px;
}

.product_description {
  flex: 1;
}

.product_images img {
  width: 100%;
  margin-bottom: 10px;
}

.product_images img:last-child {
  margin-bottom: 0;
}

.fa-check-square {
  margin-right: 10px;
}

.product_description h2 {
  margin-top: 0;
}

.dropdown {
  display: none;
}

.size-dropdown {
  display: inline-block;
  padding: 5px 20px;
  box-shadow: 0 0 4px black;
  margin-left: 20px;
  position: relative;
}

.size-dropdown:hover .dropdown {
  display: block;
  position: absolute;
  width: 160px;
  background: #fff;
  box-shadow: 0 0 4px rgb(156, 156, 156);
  top: 100%;
  left: 0;
}

.size-dropdown:hover .dropdown ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.size-dropdown:hover .dropdown a {
  text-decoration: none;
  color:black;
}


.size-dropdown:hover .dropdown ul li:hover {
  background: #0A3641;
  padding: 3px;
}

.size-dropdown:hover .dropdown ul li a:hover {
  color: #fff;
}



/*MEDIA QUERIES*/

/*responsive for mobile devices*/

/*--------------------HOMEPAGE------------------------*/
@media screen and (max-width: 799px) {
  main {
    margin: 0 0;
  }

  nav {
    display: none;
    position: fixed;
    top: 12%;
    left: -40px;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  .nav-section {
    display: block;
    background-color: #fff;
  }

  .nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-content: center;
  }

  .item_logo {
    left: 40px;
  }

  .fa-search, .fa-user-circle, .fa-shopping-basket, .fa-bars {
    font-size: 120%;
  }

  .fa-bars {
    margin-left: 20px;
  }

  .section-one {
    display: none;
  }

  .point {
    font-size: 1em;
    font-weight: 900;
  }

  .sale-section a {
    bottom: 45%;
    left: 40%;
  }

  .sale-text {
    font-size: 20px;
    text-align: right;
    right: 20px;
  }

  .section-two {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 50vh;
    gap: 3%;
  }

  .col-men {
    background-position: center;
  }

  .col-men a,
  .col-women a {
    width: 20%;
  }

.col-women .cta-button {
    padding-right: 30px;
}

  .new-section-one {
    min-height: 100px;
    background-color: rgb(83, 83, 83);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 30px;
  }

  .point {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 3%;
  }

  .section-three {
    display: flex;
    flex-wrap: wrap;
  }

  .text-box {
    flex-basis: auto;
    margin: 0px 20px 30px;
  }

  .image-box-one {
    background-position: 0vw;
  }

  .image-box-two {
    flex-basis: 100%;
  }

  .industry-img {
    margin-bottom: 0px;
  }

  .design-img {
    background-position: center;
    margin-top: 0;
  }

  .design-img p {
    margin-top: 0px;
  }

  /*footer*/

  footer {
    min-height: 200px;
    margin: 0;
    padding: 0;
  }

  .footer-nav-one, .footer-nav-two {
    display: none;
  }

  .address {
    margin: 0 10px;
  }

  .social-media {
    margin: 20px 20px 0 0;
    text-align: left;
   }
}


@media screen and (min-width: 800px) {
  .new-section-one {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .fa-truck,
  .fa-cube,
  .fa-undo {
    margin-left: 20px;
  }
  .fa-bars {
    display: none;
  }
}



/*--------------------SIGN INN------------------------*/
@media screen and (max-width: 799px){
.sign-title {
  font-size: 2em;
  top: 10%;
  left: 40%;
  }

  .form-wrapper {
    top: 25%;
    left: 25%;
  }
  
  .form-wrapper > * {
    padding: 10px;
    border-radius: 5%;
  }
  
  .signin-button {
    margin-top: 40px;
    left: 40%;
  }
}


/*--------------------ABOUT------------------------*/
@media screen and (max-width: 799px){
  
.main-container {
  display: flex;
  flex-wrap: wrap;
  }

.text-box-about {
  flex-basis: 100%;
  margin-top: 20px;
  }

.box-wrapper {
  flex-basis: 100%;
}
}


/*--------------------WOMEN AND MEN SECTION------------------------*/
@media screen and (max-width: 799px){
  .jackets {
    margin: 0 20px;
  }
  
  .all-jackets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
  }
  
  .jackets h1, .fa-arrow-left {
  font-size: 20px;
}

  .product {
    line-height: 10px;
    font-size: 1em;
  } 
  
  .product img {
    height: 30vh;
  }
  
  .product h2 {
    font-size: 1em;
  }
  
  .colors i {
    font-size: 10px;
    margin-right: 5px;
  }

  .colors p {
    font-size: 10px;
  }
}