@font-face {
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zen+Kaku+Gothic+Antique&display=swap")
    format("woff2");
}

body {
  margin: 0;
  font-family: "Zen Kaku Gothic Antique", "Open Sans", "Arial" "sans-serif";
  max-width: 1000px;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 230px;
  max-height: 80px;
  margin: 20px;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: auto;
  font-family: Zen Kaku Gothic Antique;
  font-weight: bold;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: black solid 1px;
}

.item {
  display: inline-flex;
  margin: 10px 10px 0px 10px;
  padding: 10px;
}

.item_logo {
  display: inline-flex;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  position: relative;
}
nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding-left: 20px;
  color: black;
}

.icons {
  display: inline;
  flex-direction: row;
  margin: 10px 10px 0px 10px;
  padding: 20px;
  position: absolute;
  left: 85%;
}

.fa-search {
  margin: 10px;
}

.fa-user-circle {
  margin: 10px;
}

.fa-shopping-basket {
  margin-left: 10px;
}
